@font-face {
  font-family: 'Pexico-Regular';
  src: url(assets/webfonts/37494D_0_0.eot);
  src: url(assets/webfonts/37494D_0_0.eot?#iefix) format('embedded-opentype'),
    url(assets/webfonts/37494D_0_0.woff2) format('woff2'),
    url(assets/webfonts/37494D_0_0.woff) format('woff'),
    url(assets/webfonts/37494D_0_0.ttf) format('truetype');
}

* {
  font-family: 'Pexico-Regular';
  font-weight: lighter;
}

body {
  background: #000;
  background-attachment: fixed;
  min-width: 375px;
  text-shadow: -1px 0 0 #a900ff, -2px 0 0 #100aff;
  z-index: -10;
}

/****** heading content ******/

header {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#background-video {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

#program-guide {
  align-items: flex-start;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: 0 120px;
  position: absolute;
  right: 0;
  top: 0;
}

#company-logo {
  height: 50px;
  margin-top: 41px;
  z-index: 1;
}

#updated-time {
  color: #fff;
  font-size: 12px;
  margin: 25px 0;
  padding: 14px 0 0;
  text-transform: uppercase;
  z-index: 1;
}

/****** search container content ******/

#search-container {
  padding-bottom: 1rem;
  width: 100%;
}

#hamburger-icon,
#hamburger-menu-label {
  display: none;
}

#search-form {
  position: relative;
}

#search-form::before,
#search-form::after {
  background: #fff;
  box-shadow: 0 2px 0 rgba(169, 0, 255, 1), -4px 2px 0 rgba(16, 10, 255, 1),
    2px 2px 0 rgba(255, 0, 105, 1);
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  width: 100%;
}

#search-form:after {
  bottom: 0;
  top: unset;
}

#search-icon {
  background: url(./assets/images/vv-icn-search-magnifying-glass.png) no-repeat;
  height: 30px;
  position: absolute;
  top: 20px;
  width: 30px;
  vertical-align: bottom;
}

#search-bar {
  background: transparent;
  border: transparent;
  color: #fff;
  font-size: 20px;
  height: 30px;
  margin: 0;
  outline: none;
  padding: 20px 30px;
  width: 100%;
}

#search-bar::placeholder {
  color: #fff;
  padding-left: 15px;
  text-shadow: -1px 0 0 rgba(169, 0, 255, 1), -2px 0 0 rgba(16, 10, 255, 1);
}

#search-bar:focus::-webkit-input-placeholder {
  color: #000;
  text-shadow: none;
}

#filter-search {
  flex: 3;
  min-width: 25%;
}

/****** filter sidebar content ******/

.sorted {
  opacity: 0;
  z-index: 4;
}

.aside-checkbox {
  opacity: 0;
  margin: 0 0 20px;
}

.sorted + ol::before {
  background-image: url(./assets/images/vv-arrow-menu-and-filter.svg);
  background-position: center;
  background-size: cover;
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  top: 2px;
  transition: 0.15 ease-in-out;
  width: 20px;
}

.sorted:checked + ol::before {
  transform: rotate(90deg);
}

li {
  color: #fff;
  list-style-type: none;
  position: relative;
}

li label {
  display: block;
  margin: 0 0 30px;
  padding-left: 30px;
  transform: translateY(5px);
}

li input {
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: 0;
  width: 120px;
  z-index: 100;
}

li input + ol > li {
  display: none;
}

li input:checked + ol > li {
  display: block;
  margin: 0 0 0 5px;
}

.hamburger-menu {
  color: #fff;
}

.custom-checkboxes {
  background: inherit;
  border: 2px solid #fff;
  box-shadow: -2px 2px 0 rgba(169, 0, 255, 1);
  display: inline-block;
  height: 20px;
  position: absolute;
  width: 20px;
  z-index: -8;
}

.single:checked + .custom-checkboxes::before {
  background: url(assets/images/vv-check.svg) no-repeat;
  content: '';
  display: block;
  height: 100px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 100px;
}

.checkbox-values {
  font-size: 12px;
  margin-right: 3rem;
}

.filter-values-container {
  display: flex;
  justify-content: space-between;
}

.single:checked + .custom-checkboxes {
  border: 2px solid #f25597;
}

.checkbox-label {
  text-transform: uppercase;
}

label {
  font-size: 17px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/****** video list main content ******/

#main-container {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px 120px;
  position: relative;
}

.small-menu {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  position: absolute;
  right: 0;
  top: -42px;
  width: 250px;
  z-index: 200;
}

.menu-hidden {
  display: none;
}

main {
  flex: 8;
}

#found-film-heading {
  font-size: 12px;
  margin: 3px 0 20px;
  text-transform: uppercase;
}

#found-film-heading-span {
  color: #f25597;
  font-weight: lighter;
  text-align: left;
}

.video-title {
  font-size: 18px;
  padding-top: 15px;
}

.video-details {
  color: #f25597;
  font-size: 13px;
  padding: 3px 0;
  text-shadow: -2px 12px 0 #000, -1.5px 0 0 rgba(169, 0, 255, 1);
}

.film-details-button {
  background: transparent;
  border: transparent;
  color: #f25597;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 5px;
  margin-left: 37px;
  text-shadow: -1.5px 0 0 rgba(169, 0, 255, 1);
  vertical-align: text-bottom;
}

.film-divide-line {
  border: transparent;
  font-size: 7px;
  margin: 5px 0 8px;
  position: relative;
  text-shadow: -6.8px -0.8px 0 rgba(169, 0, 255, 1),
    2.7px 0.85px 0 rgba(16, 10, 255, 1), 1px 0.85px 0 rgba(255, 0, 105, 1);
  width: 100%;
}

.film-divide-line::after {
  color: #fff;
  content: '-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------';
  display: inline-block;
  letter-spacing: 4px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}

.bottom-line {
  background: #fff;
  box-shadow: 0 -1.5px 0 rgba(169, 0, 255, 1), -3px 1.6px 0 rgba(16, 10, 255, 1),
    2px 1.5px 0 rgba(255, 0, 105, 1);
  height: 2px;
  margin: 60px auto;
  overflow: hidden;
  width: 100%;
}

/****** media queries ******/

@media only screen and (max-width: 1024px) {
  #background-video {
    display: none;
  }

  #company-logo {
    left: 30px;
  }

  header #background-image {
    background: url(assets/images/vv-grid-bg.jpg);
    display: block;
    height: 225px;
    width: 100%;
  }

  #filter-search {
    display: none;
  }

  #hamburger-icon {
    background: url(./assets/images/vv-icn-filter.svg) no-repeat;
    display: block;
    height: 28px;
    position: absolute;
    right: 70px;
    top: 20px;
    width: 28px;
  }

  #hamburger-menu-label {
    color: #f25597;
    display: block;
    font-size: 14px;
    left: 40px;
    position: absolute;
    text-transform: uppercase;
    text-shadow: -1px 0 0 rgba(169, 0, 255, 1);
    top: 6px;
  }

  #program-guide {
    margin: 0 50px;
  }

  #main-container {
    margin: 0 50px;
  }

  #found-film-heading {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 550px) {
  #hamburger-menu-label {
    display: none;
  }

  #hamburger-icon {
    right: 0;
    top: 20px;
    width: 28px;
  }

  #program-guide {
    margin: 0 35px;
  }

  #main-container {
    margin: 0 35px;
  }

  #search-icon {
    height: 30px;
    width: 30px;
  }

  #search-bar {
    font-size: 15px;
    height: 20px;
  }

  .film-details-button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  #search-bar {
    padding-right: 0;
    width: 60%;
  }
}
