body {
  background: black;
  background-attachment: fixed;
  min-width: 375px;
  text-shadow: -1px 0px 0px #a900ff, -2px 0px 0 #100aff;
  z-index: -10;
}

/****** page header ******/

header {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#background-video {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

#program-guide {
  align-items: flex-start;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: 0 120px;
  position: absolute;
  right: 0;
  top: 0;
}

#company-logo {
  height: 40px;
  width: 200px;
  z-index: 1;
}

#updated-time {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  z-index: 1;
}

#search-bar {
  background: transparent;
}
/****** filter search aside ******/

#filter-search {
  margin: 0 120px;
  min-width: 12rem;
  width: 2rem;
}

ol {
  padding: 0;
}

/****** video list main content ******/

#main-container {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.film-divide-line {
  /* border: transparent; */
  font-size: 7px;
  margin: 5px 0 8px;
  overflow: hidden;
  text-shadow: -6.85px -0.8px 0 rgba(169, 0, 255, 1),
    3px 0.8px 0 rgba(16, 10, 255, 1), 1px 0.8px 0 rgba(255, 0, 105, 1);
  width: 100%;
}

#bottom-line {
  background: #fff;
  box-shadow: -3px, 1.6px 0 rgba(16, 10, 255, 1),
    0px -1.5px 0 rgba(169, 0, 255, 1), 2px 1.5px 0 rgba(255, 0, 105, 1);
  height: 3px;
  width: calc(100% - 240px);
}
